/*
Theme Name:         SIWY & CO. Theme
Theme URI:          https://www.grafique.cz
Description:        This WP theme is based on Foundation 6 framework and is hosted on GitLab GRAFIQUE theme repository.
Author:             GRAFIQUE
Author URI:         https://www.grafique.cz
Tags:               foundation, css
GitLab Theme URI:   https://gitlab.com/grafique/siwy-theme

Version: 0.1.1
*/

.admin-only {
    display: none;
}

div.member-lawyer {
	font-size: 90%;
}


article.siwy_services.type-siwy_services.status-publish.hentry div.entry-content p strong {
	font-weight: 100;
	font-size: 96%;
	text-align: justify;
	display: block;
}

/**
 * Global layout
 */

body {
    background: #fff;
    margin: 0 auto;
}

.row {
    max-width: 100%;
    margin: 0 auto;
}

.row.medium {
    max-width: 1920px;
    margin: 0 auto;
}

.row.narrow {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-narrow,
.contact-narrow {
    max-width: 1920px;
    margin: 0 auto;
}

/**
 * Typography
 */

@media screen and (max-width: 63.9375em) {
    h1 {
        font-size: 1.875rem !important;
    }
}

@media screen and (max-width: 39.9375em) {
    h1 {
        font-size: 1.625rem !important;
    }
}

@media screen and (max-width: 63.9375em) {
    h2 {
        font-size: 1.75rem !important;
    }
}

@media screen and (max-width: 39.9375em) {
    h2 {
        font-size: 1.5rem !important;
    }
}

@media screen and (max-width: 63.9375em) {
    h3 {
        font-size: 1.5rem !important;
    }
}

@media screen and (max-width: 39.9375em) {
    h3 {
        font-size: 1.375rem !important;
    }
}

@media screen and (max-width: 63.9375em) {
    h4 {
        font-size: 1.25rem !important;
    }
}

@media screen and (max-width: 39.9375em) {
    h4 {
        font-size: 1.25rem !important;
    }
}

@media screen and (max-width: 63.9375em) {
    h5 {
        font-size: 1.125rem !important;
    }
}

@media screen and (max-width: 39.9375em) {
    h5 {
        font-size: 1.125rem !important;
    }
}

@media screen and (max-width: 63.9375em) {
    h6 {
        font-size: 0.875rem !important;
    }
}

@media screen and (max-width: 39.9375em) {
    h6 {
        font-size: 0.875rem !important;
    }
}

a {
    outline: none;
    color: #992143;
}

a:hover,
a:focus {
        color: #992143;
}


/**
 * Globals
 */

hr {
    border-bottom: 1px solid #00749a;
    margin: 30px 0 30px 0;
}

@media screen and (max-width: 63.9375em) {
    hr {
        margin: 30px 0 25px 0;
    }
}

@media screen and (max-width: 39.9375em) {
    hr {
        margin: 20px 0 15px 0;
    }
}

.page-header {
    padding: 60px 0 50px 0px;
}

@media screen and (max-width: 63.9375em) {
    .page-header {
        padding: 30px 0 20px 0px !important;
    }
}

@media screen and (max-width: 39.9375em) {
    .page-header {
        padding: 20px 0 10px 0px !important;
    }
}

.section-header {
    padding: 30px 0 20px 0px;
}

@media screen and (max-width: 63.9375em) {
    .section-header {
        padding: 20px 0 10px 0px !important;
    }
}

@media screen and (max-width: 39.9375em) {
    .section-header {
        padding: 10px 0 0px 0px !important;
    }
}

table {
    width: 100%;
}

.button {
    background: #000;
    border: 2px solid #00749a;
    color: #fff;
    padding: 15px 20px;
    text-transform: uppercase;
}

.button:hover,
.button:focus {
    color: #00749a;
    background: #000;
}

.button.to-top {
    border: none;
    border-radius: 50%;
     -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    padding: 10px;
    display: inline-block;
    margin: 0 auto;
    font-size: 0;
}

.button.to-top:hover,
.button.to-top:focus {
    background: #34c1f1;
}

.arrow.top>img,
.arrow.top>svg {
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    width: 30px;
    height: 30px;
}

.arrow.top>img polyline,
.arrow.top>svg polyline {
    stroke: #a0a0a0;
    stroke-width: 1px;
    transition: 0.2s ease-in-out;
}

.arrow.top:hover>img polyline,
.arrow.top:hover>svg polyline,
.arrow.top:focus>img polyline,
.arrow.top:focus>svg polyline {
    stroke: #c5c5c5;
}


/**
 * Header
 */
header.header {
    padding: 0 0 30px 0;
    background: #fff;
    float: left;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

@media screen and (max-width: 63.9375em) {
    header.header {
        padding: 0 0 20px 0;
    }
}

@media screen and (max-width: 39.9375em) {
    header.header {
        padding: 5px 0;
    }
}

header.header.sticky {
    opacity: 0;
    pointer-events: none;
    transition: 0.2s;
    position: fixed;
    width: 100%;
    z-index: 11;
    padding: 15px 0;
}

.fixed-header header.header.sticky {
    opacity: 1;
    pointer-events: initial;
}

header.header .top-bar {
    max-width: 100%;
    margin: 0 auto;
    display: -ms-flexbox;
    display: flex;
    padding: 0 40px;
}

@media screen and (max-width: 63.9375em) {
    header.header .top-bar {
        padding: 0px 0px 0px 0px;
    }
}

header.header .top-bar .top-bar-left .top-bar-title {
    width: 400px;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

@media screen and (max-width: 63.9375em) {
    header.header .top-bar .top-bar-left .top-bar-title {
        width: 200px;
    }
}

header.header .top-bar .top-bar-left .top-bar-title .site-title-link {
    padding: 0px 15px 0 15px;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    max-height: 50px;
}

@media screen and (max-width: 63.9375em) {
    header.header .top-bar .top-bar-left .top-bar-title .site-title-link {
        max-height: 50px;
    }
}

.primary-navigation .menu li {
    padding: 0 0px;
    }

.primary-navigation .menu li a {
    padding: 15px 18px 12px;
    font-size: 18px;
    border-bottom: 2px solid transparent;
    color: #000 !important;
    font-weight: 100;
    /*    transition: 0.3s ease-in;*/
}

.primary-navigation .menu li a:hover,
.primary-navigation .menu li a:focus {
    border-color: #00749a;
    border-bottom: 2px solid #ccc;
}

.primary-navigation .menu li.active>a {
    color: #000;
    border-color: #00749a;
}

.primary-navigation .menu .submenu {
    background: #fff;
}

.primary-navigation .menu .submenu li a {
    border: none;
    padding: 10px 20px;
}

.primary-navigation .menu .submenu li a:hover,
.primary-navigation .menu .submenu li a:focus {
    color: #000;
    border: none;
}

.navicon-cont {
    /**
     * @include navicon(param);
     *      Creates custom navicon.
     * @markup
     *      <span class="navicon-cont">
     *          <span></span>
     *      </span>
     *
     * @param color $color                  Color of lines
     * @param color $color-hover            Color on hover
     * @param pixels $btn-width             Total navicon width
     * @param pixels $btn-height            Total navicon height
     * @param pixels $line-height           Height of one navicon line
     * @param time $animation-duration      Animation duration
     * @param string $animation-type 
     *      { "none" | "cross" | "larrow" | "rarrow" } Type of animation,
     * $active-class
     * @return void
     */
    width: 40px;
    height: 30px;
    padding: 19px 6px 21px 7px;
    cursor: pointer;
    display: none;
    position: absolute;
    right: 20px;
    top: 16px;
}

.navicon-cont>* {
    display: inline-block;
    width: 30px;
    height: 2px;
    background: #992143;
    transition: 0.3s;
    opacity: 1;
    display: block;
    position: relative;
    margin: 0 auto;
    z-index: 22;
}

.navicon-cont>*:before,
.navicon-cont>*:after {
    display: inline-block;
    width: 30px;
    height: 2px;
    background: #992143;
    transition: 0.3s;
    opacity: 1;
    position: absolute;
    left: 0;
    content: '';
    -ms-transform-origin: 2.14286px center;
    transform-origin: 2.14286px center;
}

.navicon-cont>*:before {
    top: 10px;
}

.navicon-cont>*:after {
    top: -10px;
}

.navicon-cont>*>* {
    display: inline-block;
    width: 30px;
    height: 2px;
    background: #000;
    transition: 0.3s;
    opacity: 1;
    position: relative;
}

.navicon-cont:hover>* {
    background: #992143;
}

.navicon-cont:hover>*:before,
.navicon-cont:hover>*:after {
    background: #992143;
}

.is-off-canvas-open .navicon-cont span {
    background-color: transparent !important;
}

.is-off-canvas-open .navicon-cont span:before {
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -9.00901px;
    left: 3px;
}

.is-off-canvas-open .navicon-cont span:after {
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 9.00901px;
    left: 3px;
}

@media screen and (max-width: 39.9375em) {
    .navicon-cont {
        top: 11px;
        right: 14px;
    }
}

@media screen and (max-width: 63.9375em) {
    .navicon-cont {
        display: block;
    }
}

.fixed-header .navicon-cont {
    position: fixed;
    z-index: 99;
}

@media screen and (max-width: 39.9375em) {
    .fixed-header .navicon-cont {
        display: none !important;
    }
}

.admin-bar .fixed-header .navicon-cont {
    top: 71px;
}

.off-canvas {
    min-height: 100%;
}

.off-canvas .oc-menu {
    margin: 0;
    padding: 60px 20px;
    list-style: none;
    min-height: 100%;
}

.off-canvas .oc-menu li {
    padding: 0px 0px 0px 0px;
}

.off-canvas .oc-menu li.active>a,
.off-canvas .oc-menu.service-active li.menu-item-specializace>a {
    color: #992143;
    background: transparent;
}

.off-canvas .oc-menu li a,
.off-canvas .oc-menu li a:hover,
.off-canvas .oc-menu li a:focus {
    color: #000;
    padding: 10px 20px 10px 0;
    display: inline-block;
    outline: none;
}

.off-canvas .oc-menu li a:hover,
.off-canvas .oc-menu li a:focus {
    color: #992143;

}

.off-canvas .oc-menu li a:hover:after,
.off-canvas .oc-menu li a:focus:after {
    border-color: #00749a transparent transparent;
}

.off-canvas .oc-menu .js-off-canvas-exit {
    background: rgba(255, 255, 255, 0.8);
}

/******************************
SECTIONS
******************************/
/* Common to all sections */
#intro, 
#team, 
#news, 
#question, 
#services, 
#mission, 
#services-section, 
#key-contact, 
#whole-team, 
#contact-page, 
#contact-page-team {
    position: relative;
    padding: 50px 0;
    z-index: 0;
}
#intro h1,
#team h1,
#news h1,
#question h1,
#services h1,
#mission h1,
#services-section h1,
#key-contact h1,
#whole-team h1,
#contact-page h1,
#contact-page-team h1 {
    padding-bottom: 70px;
}

#intro h1 {
	font-size: 270%;
}
#whole-team h1 {
    padding-bottom: 50px;
    margin-bottom: 0;
}

@media screen and (max-width:320px) {
    #intro h1, 
    #team h1, 
    #news h1, 
    #question h1, 
    #services h1, 
    #mission h1, 
    #services-section h1, 
    #key-contact h1, 
    #whole-team h1, 
    #contact-page h1, 
    #contact-page-map h1, 
    #contact-page-team h1 {
        padding-bottom: 50px;
    }
}
@media screen and (min-width: 640px) {
    header.header + section,
    header.header + div {
        border-top: 156px solid transparent;
    }
}
@media screen and (max-width: 639px) {
    header.header + section,
    header.header + div {
        border-top: 75px solid transparent;
    }
    body.admin-bar header.header + section,
    body.admin-bar header.header + div {
        border-top: 81px solid transparent;
    }
}

/* [Homepage] */
/* 1) Intro section */
#intro {
    position: relative;
    margin-top: -200px;
    padding: 400px 50px 370px 50px;
}
#intro .intro-centered {
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    width: 100%;
    padding: 0 50px;
}
@media screen and (max-width: 639px) {
    #intro {
        margin-top: 0;
    }
    #intro .intro-centered {
        top: 50%;
        padding: 0 20px;
    }
}
#intro .intro-background {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url(assets/img/intro_bg.jpg) no-repeat 0 bottom;
    background-size: cover;
    transition: all 10s ease-out;
    transform: scale(1.2,1.2);
    -webkit-transform: scale(1.2,1.2);
}
#intro.fit .intro-background {
    transform: scale(1,1);
    -webkit-transform: scale(1,1);
}
#intro h1 {
    padding-bottom: 34px;
}
#intro h1,
#intro a {
    position: relative;
    z-index: 1;
            
}
@media screen and (min-width:1750px) {
	#intro .intro-background {
        background: url(assets/img/intro_bg.jpg) no-repeat 0 bottom;
        background-size: cover;
    }
}
@media screen and (max-width:1024px) {
    #intro {
        padding: 350px 50px 200px 50px;
    }
    
    #intro h1 {
		font-size: 220% !important;
	}
	
	#intro .intro-background {
        background: url(assets/img/intro_bg.jpg) no-repeat 0 bottom;
        background-size: cover;
    }
}
@media screen and (max-width:639px) {
    #intro {
        padding: 300px 50px 200px 50px;
    }
    #intro .intro-background {
        background: url(assets/img/intro_bg_50.jpg) no-repeat 0 bottom;
        background-size: cover;
    }
}
@media screen and (max-width:400px) {
    #intro {
        padding: 300px 50px 120px 50px;
    }
    #intro .intro-background {
        background: url(assets/img/intro_bg_25@2x.jpg) no-repeat 0 bottom;
        background-size: cover;
    }
    #intro h1 {
        line-height: 36px;
    }
}
@media screen and (max-width:260px) {
    #intro {
        padding-bottom: 100px;
    }
}

/* 2) Mission section */
#mission {
    color: #000;
    background: #fff;
    margin-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
}
#mission .sw-signature {
    position: absolute;
    right: 20%;
    bottom: 3%;
    display: block;
    height: 100px;
    width: 140px;
    background: url('assets/img/podpis.jpg') no-repeat top center;
    text-align: center;
    padding-bottom: 27px;
}
#mission .sw-sign {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
}
#mission .mission-content {
    position: relative;
}
#mission .mission-content p {
    width: 100%;
}
@media screen and (max-width:1024px) {
    #mission .sw-signature {
        right: 12%;
    }
    #mission .sw-signature img {
        width: 80%;
    }
}
@media screen and (max-width:700px) {
    #mission .sw-signature {
        right: 8%;
    }
}
@media screen and (max-width:639px) {
    #mission .sw-signature {
        display: none;
    }
    #mission .sw-signature-small {
        display: block;
        width: 100%;
        padding-top: 15px;
        position: relative;
    }
    #mission .sw-sign-small {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -10px;
    }
    #mission p {
        line-height: 1.3;
    }
    #mission {
        margin-bottom: 0;
    }
}
@media screen and (min-width:640px) {
    #mission .sw-signature-small {
        display: none;
    }
}
@media screen and (max-width:400px) {
    #mission {
        padding-left: 30px;
        padding-right: 30px;
    }
    #mission .sw-signature-small img {
        width: 120px;
    }
    #mission .sw-sign-small {
        bottom: -20px;
    }
}
@media screen and (max-width:320px) {
    #mission {
        padding-left: 15px;
        padding-right: 15px;
    }
    #mission .sw-signature-small img {
        
    }
    #mission .sw-sign-small {
        width: 100%;
    }
}

/* 3) Services section */
#services {
    background: url(assets/img/univerzal_bg.jpg) no-repeat bottom center;
    background-size: cover;
}
    
#services .button {
    font-size: 17px;
}
	
@media screen and (max-width:640px) {
    #services {
        background: url(assets/img/univerzal_bg_50.jpg) no-repeat bottom center;
        background-size: cover;
    }
    #services .text-left, #services .text-right {
        text-align: center;
    }
}
@media screen and (max-width:720px) and (min-width:640px) {
    .sw-button-secondary {
        margin: 15px 0 !important;
    }
}
@media screen and (max-width:400px) and (min-width:320px) {
    #services .row .sw-button-secondary {
        font-size: 16px;
        width: 270px;
    }
}
@media screen and (max-width:320px) {
    #services {
        background: url(assets/img/univerzal_bg_25.jpg) no-repeat bottom center;
        background-size: cover;
    }
}
@media screen and (max-width:320px) and (min-width:200px) {
    #services .row .sw-button-secondary {
        font-size: 15px;
        width: 100%;
        margin: 10px 0;
        line-height: 2.3em;
    }
}
@media screen and (max-width:200px) {
    #services .row .sw-button-secondary {
        font-size: 15px;
        width: 100%;
        margin: 10px 0;
        height: auto;
        min-height: 36px;
        word-wrap: break-word;
    }
}

/* 4) Team section */
#team {
    background-color: #ffffff;
}
#team .row {
    text-align: center;
}
#team .member-photo .photo-elem {
    max-width: 140px;
    margin: auto;
    /* Grayscale */
    filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    /* Filter transition */
    -webkit-transition: 0.4s -webkit-filter linear;
    -moz-transition: 0.4s -moz-filter linear;
    -moz-transition: 0.4s filter linear;
    -ms-transition: 0.4s -ms-filter linear;
    -o-transition: 0.4s -o-filter linear;
    transition: 0.4s filter linear, 0.4s -webkit-filter linear;
    /* Opacity */
    opacity: 0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";  /* IE 8 */
    filter: alpha(opacity=90);  /* IE 5-7 */
    -moz-opacity: 0.9;  /* Netscape */    
    -khtml-opacity: 0.9;    /* Safari 1.x */
    /* Opacity transition */
    -webkit-transition: opacity 400ms linear;
    -moz-transition: opacity 400ms linear;
    -moz-transition: opacity 400ms linear;
    -ms-transition: opacity 400ms linear;
    -o-transition: opacity 400ms linear;
    transition: opacity 400ms linear;
}
#team .member-photo img {
    margin-bottom: 20px;
}
#team .member-photo img,
.member-photo img {
    border: 3px solid transparent;
    border-radius: 50%;
     -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -webkit-transition: border 400ms linear;
    -moz-transition: border 400ms linear;
    -moz-transition: border 400ms linear;
    -ms-transition: border 400ms linear;
    -o-transition: border 400ms linear;
    transition: border 400ms linear;
        filter:brightness(115%)grayscale(30%);
}

#team .member-name {
    height: 14px;
    font-family: FiraSansRegularWeb;
    font-size: 17px;
    font-weight: 500;
    color: #828282;
    /* Color transition */
    -webkit-transition: color 400ms linear;
    -moz-transition: color 400ms linear;
    -moz-transition: color 400ms linear;
    -ms-transition: color 400ms linear;
    -o-transition: color 400ms linear;
    transition: color 400ms linear;
}
#team .members-row .member:hover .member-name {
    color: #992143;
}
#team .members-row .member:hover .photo-elem {
    /* Grayscale disabled */
    filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
    -webkit-filter: grayscale(0%);
    /* Opacity */
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";  /* IE 8 */
    filter: alpha(opacity=100);  /* IE 5-7 */
    -moz-opacity: 1;  /* Netscape */    
    -khtml-opacity: 1;    /* Safari 1.x */
}
#team .members-row .member.member-photo:hover img {
    border-color: #992143;
}
#team .member {
    margin-bottom: 65px;
}
@media screen and (max-width:40em) {    /* 640px */
    #team .members-row {
        padding-bottom: 0;
    }
    #team .member {
        margin-bottom: 25px;
    }
    #team .member-photo img {
        margin-bottom: 5px;
    }
}
@media screen and (max-width:320px) {
    #team .members-row .extra-small-1 {
        max-width: 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    }
}
@media screen and (max-width:200px) {
    #team .member-photo img {
        width: 60%;
    }
}

/* 5) News section */
#news {
    background: url(assets/img/news_bg.jpg) no-repeat bottom center;
    background-size: cover;
}
#news .date {
    color: #ffffff;
    padding: 28px 5px;
    background-color: #992143;
    display: inline-block;
    width: 100px;
    max-width: 100%;
    height: 100px;
}
#news .content-column {
    text-align: justify;
    color: #646161;
}
#news .content-column h4 {
    font-family: FiraSansRegularWeb;
    font-weight: bold;
    color: #83203d;
}
#news .row.narrow {
    position: relative;
}
#news .entry-content-mobile {
    display: none;
}
#news .orbit {
    width: 100%;
}
#news .orbit-controls button {
    position: absolute;
    top: 0;
    background-size: 30px !important;
    padding: 30px;
    margin-top: 20px;
    background: url("./assets/img/arrow_right_angle.svg") no-repeat center;
}
@media screen and (max-width: 640px) {
    #news .orbit-controls button {
        background-size: 20px !important;
    }
}
#news .orbit-controls button.orbit-previous {
    left: -20%;
}
#news .orbit-controls button.orbit-next {
    right: -20%;
    transform: none;
}
@media only screen and (max-width: 1700px) {
    #news .orbit-controls button.orbit-previous {
        left: -10%;
    }
    #news .orbit-controls button.orbit-next {
        right: -10%;
    }
}
@media only screen and (max-width: 1500px) {
    #news .orbit-controls button.orbit-previous {
        left: -5%;
    }
    #news .orbit-controls button.orbit-next {
        right: -5%;
    }
}
@media only screen and (max-width: 1300px) {
    #news .orbit-controls button.orbit-previous {
        left: -1%;
    }
    #news .orbit-controls button.orbit-next {
        right: -1%;
    }
}
@media only screen and (max-width: 639px) {
    #news {
        background: url(assets/img/news_bg_50.jpg) no-repeat bottom center;
        background-size: cover;
    }
    #news .orbit-controls button.orbit-previous {
        left: 15%;
    }
    #news .orbit-controls button.orbit-next {
        right: 15%;
    }
    #news .orbit-slide .date-column {
        padding-bottom: 20px;
    }
}
@media only screen and (max-width: 450px) {
    #news .entry-content {
        display: none;
    }
    #news .entry-content-mobile {
        display: block;
    }
}
@media only screen and (max-width: 320px) {
    #news {
        background: url(assets/img/news_bg_25.jpg) no-repeat bottom center;
        background-size: cover;
    }
    #news .orbit-controls button.orbit-previous {
        left: 6%;
    }
    #news .orbit-controls button.orbit-next {
        right: 6%;
    }
    #news .content-column p {
        font-size: 14px;
        line-height: 1.4;
    }
    #news .content-column h4 {
        text-align: center;
        line-height: 1.2;
    }
}
@media only screen and (max-width: 220px) {
    #news .orbit-controls button.orbit-previous {
        left: 0;
    }
    #news .orbit-controls button.orbit-next {
        right: 0;
    }
    #news .content-column p {
        display: none;
    }
}
#news .orbit-controls button > img {
    width: 30px;
}
#news .orbit-container {
    padding: 0 50px;
/*    max-height: 300px;*/
    min-height: 100%;
    outline: none;
}

/* [Services] */
/* 1) Services section */
#services-section {
    padding: 50px;
    padding-bottom: 100px;
}
#services-section h3 {
    padding-bottom: 30px;
    padding-top: 2px;
}
#services-section h4 {
    padding: 30px 0 30px 0;
    font-size: 130%;
    color: #444;
}
#services-section article {
    max-width: 1000px;
}
#services-section aside>li {
    list-style: none;
}
#services-section aside ul.menu {
    display: block;
}
#services-section aside > li > h2 {
    padding: 0 0 1.6rem 1.5rem;
}
#services-section .tabs-panel {
    padding-top: 0;
}
#services-section .sw-button-secondary {
    padding: 0 15px;
    margin-left: 0;
    margin-top: 40px;
    width: auto;
}
#services-section ul.menu a {
    padding: 0.5rem 1.5rem;
}
#services-section ul.menu .menu-item a {
    font-family: FiraSansLightWeb;
    color: #0a0a0a;
    font-size: 1rem;
}
#services-section ul.menu .menu-item a:hover {
    color: #992143;
}
#services-section ul.menu .menu-item a:focus {
    background: inherit;
}
#services-section ul.menu li.active a {
    background: inherit;
    color: #992143;
}
#services-section ul.menu li.active a:before {
    content: "\f054";   /* fa-chevron-right */
    font-family: FontAwesome;
    display: inline-block;
    color: #992143;
    margin-left: -1.5em;
    width: 1.5em;
}
#services-section .service-content ul {
    list-style: none;
    margin-left: 0;
}
#services-section .service-content ul>li {
    padding-left: 1.5em;
    line-height: 1.85em;
}
#services-section .service-content ul>li:before {
    content: "\f00c"; /* fa-check */
    font-family: FontAwesome;
    display: inline-block;
    color: #992143;
    margin-left: -1.5em;
    width: 1.5em;
}
@media only screen and (max-width: 1300px) and (min-width: 1024px) {
    #services-section aside > li > h2 {
        font-size: 30px;
        padding-bottom: .7em;
    }
    #services-section ul.menu .menu-item a {
        font-size: .85rem
    }
}
@media only screen and (max-width: 1100px) and (min-width: 1024px) {
    #services-section .service-content {
        padding-left: 25px;
    }
}
@media only screen and (max-width: 1023px) {
    #services-section aside {
        padding-bottom: 30px;
    }
    #services-section aside > li > h2 {
        padding-bottom: 0;
    }
}
@media screen and (max-width:640px) {
    #services-section aside .menu {
        margin-left: -24px;
    }
    #services-section aside > li > h2 {
        padding-left: 0;
    }
    #services-section aside .menu li a {
        padding-bottom: 0;
    }
}
@media screen and (max-width:400px) {
    #services-section {
        padding: 30px;
    }
    #services-section .entry-content,
    .error404 .entry-content {
        font-size: 15px;
    }
}
@media screen and (max-width:400px) {
    #services-section {
        padding: 20px;
    }
}

/* 2) Key Contact section */
#key-contact {
    background: url(assets/img/univerzal_bg.jpg) no-repeat bottom center;
    background-size: cover;
}
#key-contact .sw-section-button {
    margin-top: 70px;
    margin-bottom: 0;
}
#key-contact h2 {
    padding-bottom: 70px;
}

/* [Our Team] */
/* 1) Whole Team */
#whole-team {
    background: url(assets/img/univerzal_bg.jpg) no-repeat bottom center;
    background-size: cover;
    border-color: #e0eff5;
}
#whole-team .member {
    padding: 0 15px;
}
#whole-team .member-card {
    background: #fff;
    padding: 40px;
    margin-bottom: 40px;
    height: calc(100% - 40px);
}
#whole-team .member-card .member-basic-info {
    padding-bottom: 20px;
}
#whole-team .member-card dt {
    line-height: 1;
    margin: 1.2em 0 0.6em;
    color: #a5a5a5;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 16px;
}
#whole-team .member-card dd {
    line-height: 1.35;
    font-size: 92%;
}
@media only screen and (max-width: 400px) {
    #whole-team .member-card {
        padding: 20px;
    }
    #whole-team .member-card dd {
        font-size: 15px;
        line-height: 1.1em;
        padding-top: 5px;
    }
}
@media only screen and (max-width: 320px) {
    #whole-team .member .member-info {
        text-align: left;
        margin-left: 20px;
    }
}
@media only screen and (max-width: 200px) {
    #whole-team .member-card {
        padding: 10px;
    }
}

/* [Contact] */
/* 1) Contact section */
#contact-page {
    padding: 50px 0 0 100px;
}
#contact-page .contact-data .row-data table tr:first-child {
    font-size: 1.3em;
}
#contact-page .contact-data .row-data table tr:first-child p {
    font-size: 1em;
    margin-bottom: 0;
    line-height: 1.5;
}
#contact-page .contact-data .row-data table tr:first-child .sw-f-lightitalic {
    font-size: .7em;
    letter-spacing: 0 !important;}
#contact-page h1 {
    padding-right: 100px;
    padding-bottom: 50px;
}
#contact-page .building-entrance {
    background-size: contain;
}
#contact-page div.row,
#contact-page div.row table th {
    text-align: left;
}
#contact-page table tbody,
#contact-page table tr {
    border: none;
    background: transparent;
}
#contact-page table th,
#contact-page table td {
    padding-bottom: 0;
    padding-top: 0;
}
#contact-page table tr.row-space th,
#contact-page table tr.row-space td {
    padding-bottom: 20px;
}
#contact-page table th {
    width: 100px;
    vertical-align: top;
    padding-left: 0;
}
#contact-page table td,
#contact-page table td span.red-color {
    font-family: FiraSansRegularWeb;
}
#contact-page .row-company h3 {
    margin-bottom: 0;
}
#contact-page .sw-mini-line {
    background: #992143;
    margin-top: 0;
}
#contact-page .row-frontman {
    margin: 15px 0;
}
#contact-page .row-frontman h4 {
    margin-bottom: 0;
}
#contact-page .contact-data {
    padding-bottom: 50px;
}
@media screen and /*(max-width: 1080px) and*/ (min-width: 1000px) {
    #contact-page {
        padding-left: 75px !important;
    }
    #contact-page h1 {
        padding-right: 75px;
    }
}
@media screen and (max-width: 1300px) {
    #contact-page .contact-data {
        padding-bottom: 20px;
    }
}
@media screen and (max-width: 1024px) {
    #contact-page {
        padding: 50px 0 0 50px;
    }
    #contact-page h1 {
        padding-right: 50px;
    }
    #contact-page h2 {
        padding-right: 50px;
    }
    #contact-page .contact-data {
        padding-bottom: 10px;
    }
    #contact-page table th {
        width: 80px;
    }
}
@media screen and (max-width: 639px) {
    #contact-page {
        padding: 50px 50px 0;
    }
    #contact-page h1 {
        padding-right: 0;
    }
    #contact-page h2 {
        padding-right: 0;
    }
    #contact-page .building-entrance {
        margin-left: -50px;
        min-width: calc(100% + 100px);  /* Whole viewport width */
        padding-top: 82.46%;
        background-position: bottom center !important;
    }
}
@media screen and (max-width: 530px) {
    #contact-page {
        padding: 30px 30px 0;
    }
    #contact-page h2 {
        padding-right: 0;
    }
    #contact-page .building-entrance {
        padding-top: 91.46%
    }
}
@media screen and (max-width: 320px) {
    #contact-page {
        padding: 20px 20px 0;
    }
    #contact-page .row-data {
        font-size: 14px;
    }
}
/* 2) Map section */
/* 3) Our Team */
#contact-page-team {
    background: url(assets/img/univerzal_bg.jpg) no-repeat bottom center;
    background-size: cover;
}
#contact-page-team .row.narrow {
    margin-bottom: 50px;
}
#contact-page-team .member>.row {
    background: #fff;
    margin: 10px;
    padding: 30px;
    height: 100%;
}
#contact-page-team .member-cards .member {
    padding: 10px;
}
@media only screen and (max-width: 1024px) {
    #contact-page-team .member-cards .member {
        padding: 0;
    }
}
@media only screen and (max-width: 639px) {
    #contact-page-team .member {
        padding-left: 0;
    }
}
@media only screen and (max-width: 320px) {
    #contact-page-team .member>.row {
        padding: 20px 0;
        margin: 0 10px;
    }
}

/* *********************************************************
GENERAL
********************************************************* */
.univerzal-overlay {
    background: transparent;  /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(top, #ff, transparent);  /* For Safari 5.1 to 6.0 */
    background:    -moz-linear-gradient(top, #fff, transparent);  /* For Firefox 3.6 to 15 */
    background:      -o-linear-gradient(top, #fff, transparent);  /* For Opera 11.1 to 12.0 */
    background:         linear-gradient(top, #fff, transparent);  /* Standard syntax */
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: -1;
}
.we-are-ready {
    padding-top: 50px;
}
p {
    font-size: 1.1em;
    line-height: 1.3;
}
.default-page-section {
    margin-bottom: 70px;
}
@media screen and (max-width: 1024px) {
    .default-page-section {
/*        margin-bottom: 50px;*/
        margin: 0 20px 50px;
    }
}
@media screen and (max-width: 640px) {
    .default-page-section {
/*        margin-bottom: 20px;*/
        margin: 0 10px 20px;
    }
}
.member-cards .member {
    padding: 20px 0;
}
.member-cards .member h4.member-full-name {
    margin-bottom: 0;
}
.member table {
    margin-bottom: 0;
    font-size: 90%;
    margin-top: 10px;
}
.member-cards .member table tbody,
.member-cards .member table tr:nth-child(even) {
    background: transparent;
    border: none;
}
.member-cards .member table th,
.member-cards .member table td {
    padding: 0;
}
.member-cards .member table th {
    width: 20px;
    font-weight: normal;
}
.member-cards .member-mail {
    word-break: break-word;
}
.member-cards .member-photo img {
    padding-right: 0px;
}
@media only screen and (max-width: 1023px) {
    .member-cards .member .member-full-name {
        font-size: 1.2em;
    }
    .member-cards .member table {
        font-size: 15px;
    }
}
@media only screen and (max-width: 639px) {
    .member-cards .member {
        padding-left: 4em;
    }
}
@media only screen and (max-width: 500px) {
    .member-cards .member {
        padding-left: 3em;
    }
}
@media only screen and (max-width: 320px) {
    .member-cards .member .member-photo,
    .member-cards .member table th {
        display: none;
    }
    #whole-team.member-cards .member .member-photo {
        display: block;
        margin: auto;
        padding-bottom: 10px;
    }
    .member-cards .member .text-left {
        text-align: center;
    }
    .member-cards .member-info {
        margin: auto;
    }
    .member-cards .member table {
        font-size: 14px;
    }
    .member-cards .member {
        padding-left: 0;
    }
}
.member-cards .member .member-table th,
.member-table th {
    padding-right: 7px;
}

/* General classes */
.sw-contact-link a {
    color: white;
}
.sw-contact-link a:hover {
    text-decoration: underline;
}
.sw-contact-link.red-color a {
    color: #83203d;
    text-decoration: underline;
}
.sw-v-rcentered {
    margin: auto 0;
}
.red-color {
    color: #992143 !important;
    font-family: FiraSansLightWeb;
}
.red-background {
    background: #992143;
}
a.red-color:hover {
    color: #83203d;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.sw-horiz-rot {
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
.sw-block {
    display: block;
}
.sw-f-thin {
    font-family: FiraSansThin;
}
.sw-f-thinitalic {
    font-family: FiraSansThinItalic;
}
.sw-f-italic {
    font-family: FiraSansItalic;
}
.sw-f-medium {
/*    font-family: FiraSansMedium;*/
    font-family: FiraSansRegularWeb;
    font-weight: bold;
}
.sw-f-light {
    font-family: FiraSansLightWeb;
}
.sw-f-lightitalic {
    font-family: FiraSansLightWeb;
    font-style: italic;
}
.sw-f-regular {
    font-family: FiraSansRegularWeb;
}
.sw-f-bold {
    font-family: FiraSansBold;
}
.grid-centered {
    margin: auto;
    float: none;
}
.sw-grayscale {
    filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}
.sw-grayscale:hover {
    filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
    -webkit-filter: grayscale(0%);
}

/* Buttons and links */
.sw-button {
    margin:20px;
    background-color: #992143;
    color: #efe6e8;
    border-radius: 0;
     -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border: 1px solid #992143;
    box-shadow: none;
    
    padding: 0 20px;
    height: 36px;
    line-height: 36px;
}
.sw-button:hover {
    background-color: #771732;
    color: #efe6e8;
}
.sw-button:focus {
    background-color: #992143;
    color: #efe6e8;
}
.sw-section-button {
    margin: 50px 10px;
}
.sw-button-secondary {
    margin: 15px;
    border: 1px solid #992143;
    border-radius: 0;
     -moz-border-radius: 0;
    -webkit-border-radius: 0;
    background: transparent;
    font-size: 19px;
    font-weight: 300;
    color: #992143;
    font-family: FiraSansLightWeb;
    width: 320px;
    height: 36px;
/*    line-height: 1.9em;*/
    line-height: 36px;
    padding: 0;
}
.sw-button-secondary:hover {
    background: #992143;
    color: #f2f5f2;
}
.sw-button-secondary:focus {
    background: transparent;
    color: #992143;
}
.sw-button-tertiary {
/*    padding: 7px 27px;*/
    color: #333;
    border: 1px solid #47484a;
    border-radius: 0;
     -moz-border-radius: 0;
    -webkit-border-radius: 0;
    background: transparent;
    font-size: 16px;
    font-weight: 100 !important;
    
    padding: 0 27px;
    height: 32px;
    line-height: 32px;
}
.sw-button-tertiary:hover {
    color: #efe6e8;
    background-color: #771732;
}
.sw-button-tertiary:focus {
    color: #47484a;
    background: transparent;
}
a.sw-link {
        font-weight: bold;
}

#contact-page .sw-link {
	font-size: 16px !important;
}

a.sw-link:hover {
    color: #992143;
}
a.sw-link:foucs {
    color: #828282;
}
a.sw-link-underline {
    border-bottom: 1px dotted #952142;
    font-weight: 100;
}

a.sw-link-underline:hover {
    border-bottom: 1px solid #952142;
    }


/* Section line */
.sw-line {
    position: relative;
}
.sw-line:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translate(-50%);
    transform: translateX(-50%);
    background-color: rgb(153, 33, 67);
    height: 4px;
    width: 225px;
}

/* Company name mini line */
.sw-mini-line {
    display: block;
    width: 20px;
    height: 3px;
    background: white;
    margin-top: 5px;
}

/* *********************************************************
HEADER
********************************************************* */
.title-bar {
    font-weight: bold;
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100%;
    background: transparent;
    padding-bottom: 38px;
    
    overflow: hidden;
    
}
.title-bar .title-bar-background.fp {
    background: transparent;
}
.title-bar .title-bar-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    background: url(assets/img/intro_bg_menu_2.jpg) no-repeat center bottom;
    background-size: cover;
    
    z-index: -3;
}
.title-bar-shrink-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    opacity: 0;
    z-index: -2;
    transition: opacity .3s linear;
}
.title-bar-shrink-overlay.fp {
    transition: none;
}
.title-bar.shrink .title-bar-shrink-overlay {
    opacity: 1;
}
.off-canvas .title-bar {
    background: transparent;
}
.title-bar .primary-navigation .menu {
    background: transparent;
    padding-right: 2em;
}
.title-bar .primary-navigation .menu li {
    background: transparent;
}
.title-bar .primary-navigation .menu li a {
    color: #212121;
    padding-bottom: 10px;
}
.title-bar .primary-navigation .menu li a:hover {
    color: #952142;
    border-color: transparent;
}
.title-bar .primary-navigation .menu li a:focus {
    border-color: transparent;
}
.title-bar .primary-navigation .menu li.active>a {
    border-color: transparent;
    background: transparent;
}
/* Language switcher */
.title-bar .langs,
.off-canvas .langs {
    font-size: 19px;
    text-align: right;
    padding: 0 2em 0 0;
}
.title-bar .langs ul,
.off-canvas .langs ul {
    background: transparent;
}
.title-bar .langs ul li.wpml-language-item {
    font-size: 18px;
    text-align: right;
    padding: 32px 0 15px 0;
}
.title-bar .langs ul li.wpml-language-item a,
.off-canvas .langs ul li.wpml-language-item a {
    color: #0a0a0a;
    padding: 0 10px;
    font-weight: 100;
}
.title-bar .langs ul li.wpml-language-item:last-child a {
    padding-right: 0;
}
.title-bar .langs ul li.wpml-language-item a:hover,
.off-canvas .langs ul li.wpml-language-item a:hover {
    color: #fff !important;
}
.title-bar .langs ul li.wpml-language-item a.lang-selected,
.off-canvas .langs ul li.wpml-language-item a.lang-selected {
    color: #9a2144;
}
.off-canvas .langs {
    font-size: 15px;
    position: absolute;
    top: 0px;
    padding-left: 20px;
    padding-top: 33px;
}
.off-canvas .langs ul {
    line-height: 1.1;
}
.off-canvas .langs ul li:first-child a {
    padding-left: 0;
}

.title-bar-right .lang-delimiter {
    line-height: 1;
    color: #91adb6;
    display: none;
}
.title-bar-right .primary-navigation li.menu-item {
    position: relative;
}
.title-bar-right .primary-navigation li.menu-item > a {
    padding-left: 0;
    padding-right: calc(20px + 1rem);
}
@media screen and (max-width: 700px) and (min-width: 640px) {
    .title-bar-right .primary-navigation li.menu-item > a {
        padding-right: calc(10px + 1rem);
    }
    .site-logo-small {
        left: 25px;
    }
}
.title-bar-right .primary-navigation li.menu-item:last-child > a {
    padding-right: 0;
}
.title-bar-right .primary-navigation li.active .menu-item-border,
.title-bar .primary-navigation .menu.service-active li.menu-item-specializace .menu-item-border {
    position: absolute;
    width: 48px;
    height: 100%;
    left: 0;
    border-bottom: 2px solid #952142;
    z-index: -1;
}
.title-bar.shrink .title-bar-right nav {
    padding-top: 20px;
    padding-right: 40px;
}
.title-bar {
    transition: background .3s ease-out;
}
.title-bar.shrink {
/*    background: #fff;*/
    background: url(assets/img/intro_background.png) no-repeat center center;
    background-size: cover;
    padding-bottom: 8px;
}
.title-bar.shrink:hover {
    overflow: visible;
}
.title-bar.shrink .primary-navigation .menu li a {
    font-size: 18px;
    margin-top: 5px;
    padding-bottom: 15px;
}
.title-bar.shrink .langs {
    margin-top: -100px;
    font-size: 0;
}
.title-bar .langs-select {
    display: none;
}
.title-bar.shrink .langs-select {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
}
.title-bar.shrink .langs-select {
    height: 20px;
    border: none;
    box-shadow: none;
    color: #992143;
    cursor: pointer;
    background: transparent;
    font-size: 18px;
    width: 36px;
}
.title-bar.shrink .langs-select a.wpml-language-switcher {
    padding-left: 2px;
    font-weight: initial;
}
.title-bar.shrink .langs-select ul.sub-menu {
    display: none;
    visibility: hidden;
    opacity: 0;
    margin: 0;
    background: #fff;
    left: 0;
    text-align: left;
    list-style: none;
}
.title-bar.shrink .langs-select:hover ul.sub-menu {
    display: block;
    visibility: visible;
    opacity: 1;
}
.title-bar.shrink .langs-select ul.sub-menu li {
    border: none;
    box-shadow: none;
    color: initial;
    padding: 0 2px;
    font-weight: initial;
}
.title-bar.shrink .langs-select ul.sub-menu li a {
    display: block;
}
.title-bar.shrink .langs-select ul.sub-menu li:hover {
    background: #992143;
}
.title-bar.shrink .langs-select ul.sub-menu li:hover a {
    color: #fff;
}
.site-title-link {
    padding-left: 2em;
}
.site-title-link-mobile {
    padding-left: 0;
}

.off-canvas-wrapper .navicon-cont[type="button"] {
    appearance: none;
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    width: auto;
    margin: 20px 10px 0;
    position: fixed;
}
.off-canvas-wrapper .navicon-cont .navicon-close {
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}
.off-canvas-wrapper .navicon-cont .navicon-close::before {
    top: -12px;
    left: 12px;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}
.off-canvas-wrapper .navicon-cont .navicon-close::after {
    display: none;
}

.site-logo-small {
    visibility: hidden;
    top: 5px;
    position: absolute;
}
.title-bar.shrink .title-bar-left {
    top: 12px;
}
@media screen and (max-width: 900px) {
    .title-bar.shrink .site-logo {
        display: none;
    }
    .title-bar.shrink .site-logo-small {
        visibility: visible;
    }
    .title-bar.shrink .title-bar-left {
        top: 6px;
    }
}

.title-bar-left {
    max-width: 380px;
    position: absolute;
    top: 59px;
    z-index: 10;
}
.title-bar-left .site-logo {
    max-width: 320px;
}
.title-bar.shrink .title-bar-left .site-logo {
    width: 100%;
    max-width: 60%;
}
@media screen and (max-width: 990px) {
    .title-bar-left {
        top: 27px;
    }
    .title-bar-left .site-logo {
        width: 100%;
        max-width: 80%;
    }
}

#responsive-menu.shrink {
    height: 58px;
    padding-top: 25px;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.4);
       -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.4);
            box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.4);
}
body.admin-bar #responsive-menu.shrink {
    top: 32px !important;
}

@media only screen and (max-width:782px) {
    body.admin-bar #responsive-menu.shrink {
        top: 46px !important;
    }
}

@media only screen and (max-width:320px) {
    .off-canvas {
        width: 100%
    }
}

/* *********************************************************
FOOTER
********************************************************* */

/* Question section */
#question {
    background: rgba(222, 237, 247, 0.15);
    color: rgb(38, 45, 63);
    padding: 110px 50px;
}
#question h3 {
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 30px;
    color: #262d3f;
    font-family: FiraSansLightWeb;
    font-size: 32px;
    font-weight: 300;
}
#question form {
    width: 585px;
    margin: auto;
    padding-top: 30px;
}
#question .form-icon-input {
    position: relative;
}
#question .form-icon-input img {
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    left: 30px;
}
#question input:not([type=submit]),
#question textarea {
    border: none;
    box-shadow: none;
    font-size: 21px;
    font-weight: 300;
    line-height: 30px;
    font-family: FiraSansLightWeb;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.27);
    background-color: #ffffff;
    padding-left: 20px;
}
#question .gform_footer {
    text-align: center;
}
#question .form-part input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: rgb(38, 45, 63);
}
#question .form-part input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: rgb(38, 45, 63);
    opacity:  1;
}
#question .form-part input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: rgb(38, 45, 63);
    opacity:  1;
}
#question .form-part input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(38, 45, 63);
}
#question .form-part input::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(38, 45, 63);
}
#question .show-form {
    color: #262d3f;
}
#question .form-email input {
    padding: 0 0 0 60px;
    background: url(./assets/img/icon_write_a_text.png) no-repeat 15px center;
    background-color: #fff;
    margin-bottom: 0;
}
#question .form-question textarea {
    width: 100%;
    padding: 5px 20px 20px;
}
#question .section-title-big {
    display: block;
}
#question .section-title-small {
    display: none;
}
#question .sw-button-tertiary {
/*    padding: 10px 27px;*/
    margin-top: 20px;
}
#question .gform_wrapper ul.gform_fields li.gfield {
    padding-right: 0 !important;
    padding-left: 0 !important;
    max-width: 100% !important;
}

/* -- Contact form validation error -- */
#question .gform_wrapper li.gfield.gfield_error {
    background: transparent;
    border: none;
}
#question .gform_wrapper li.gfield.gfield_error.gfield_contains_required div.gfield_description {
    padding-top: 6px;
    padding-bottom: 10px;
}
#question .gform_wrapper div.validation_error {
    border-color: transparent;
}
/* -- End -- */

#question .gform_wrapper ul {
    margin-left: 0 !important;
}
#question .form-show,
#question .form-show-last {
    display: none;
}
#question .gform_wrapper {
    margin: auto;
}
#question .button[disabled] {
    background: #000;
    margin: 0;
}
#question input.sw-button-tertiary {
    margin: auto;
}
#question input[type="text"][readonly],
#question textarea[readonly] {
    background: #d3d3d380 !important;
}
/* SPINNER */
#question .gform-spinner {
    width: 50px;
    height: 18px;
    text-align: center;
    font-size: 10px;
    display: block;
}
#question .gform-spinner > div {
    background-color: #fff;
    height: 100%;
    width: 6px;
    display: inline-block;
    margin: 0 2px;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}
#question .gform-spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

#question .gform-spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

#question .gform-spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

#question .gform-spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% { 
    transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }  20% { 
    transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}
/* END SPINNER */
@media screen and (max-width:1024px) {
    #question {
        padding: 100px 50px 100px 50px;
    }
}
@media screen and (max-width:40em) {    /* 640px */
    #input_1_3 {
        margin-top: 24px;
    }
    #input_1_2_3 {
        margin-top: 6px;
    }
}
@media screen and (max-width:320px) {
    #question {
        padding: 100px 30px 100px 30px;
    }
    #question .form-icon-input img {
        display: none;
    }
    #question .form-email {
        padding: 20px 0 0 0;
    }
    #question input:not([type=submit]) {
        font-size: 18px;
        font-weight: 300;
        line-height: 30px;
    }
    #question h3 {
        padding-bottom: 20px;
    }
}
@media screen and (max-width:200px) {
    #question {
        padding: 50px 15px 50px 15px;
    }
    #question input:not([type=submit]),
    #question textarea {
        font-size: 15px;
        font-weight: 300;
        line-height: 30px;
    }
    #question h3 {
        padding-bottom: 10px;
    }
}
@media screen and (max-width:240px) {
    #question .section-title-big {
        display: none;
    }
    #question .section-title-small {
        display: block;
    }
}

/* Footer */
#footer {
    padding: 50px 75px 30px;
    background: rgb(120, 28, 56);
    color: rgb(250, 246, 241);
    position: relative;
}
#footer #sw-scroll-to-top {
    position: absolute;
    width: 40px;
    height: 40px;
    top: -3px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);
    background: url(./assets/img/scrolltop.svg) no-repeat center center;
    background-size: cover;
}
#footer .thin-small {
    font-size: 17px;
}
#footer .brighter,
#footer .brighter .sw-link {
    color: #b0657c;
    font-weight: normal;
}
#footer .darker {
    color: #a1526a;
}

#footer .column {
    padding: 10px 0;
}

.footer-table {
    table-layout: fixed;
    width: auto;
}
.footer-table tr, .footer-table tr:nth-child(even) {
    background: rgb(120, 28, 56);
}
.footer-table tr th, .footer-table tr td {
    padding: 0;
}
.footer-table tr th {
    text-align: left;
    font-weight: normal;
    min-width: 80px;
}
.footer-table tbody {
    border: none;
}

#footer .row-company {
    padding-bottom: 0;
    font-size: 1.5em;
}
#footer .row-frontman {
    display: block;
    padding-bottom: 2.5em;
}
#footer .row-frontman>span:first-child {
    font-size: 1.3em;
}
#footer .row-company-info {
    padding-bottom: 1.75em;
}

footer#footer div.row.row-copyright span.thin-small.sw-f-light.darker p small {
	text-align: justify !important;
}


footer#footer div.row.row-copyright span.thin-small.sw-f-light.darker p small a {
	color: #b75f7a;
	text-decoration: underline;
}

footer#footer div.row.row-copyright span.thin-small.sw-f-light.darker p small {
	font-size: 0.8em;
	line-height: normal !important;
	padding-bottom: 15px;
	display: block;
}
footer#footer div.row.row-copyright span.thin-small.sw-f-light.darker p {
	font-size: 0.95em;
}

#footer .row-copyrignt {
    
}
#footer .sw-mini-line {
    background: #a1526a;
}
@media screen and (max-width:64em) {    /* 1024 */
}
@media screen and (max-width:1000px) {
    #footer {
        padding: 50px;
    }
}
@media screen and (max-width:40em) {    /* 640 */
    #footer {
        padding-bottom: 50px;
    }
}
@media screen and (max-width:530px) {
    #footer {
        padding: 30px;
    }
}
@media screen and (max-width:320px) {
    #footer {
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 50px;
    }
    #footer .row-company-info,
    #footer .row-copyrignt {
        font-size: 14px;
    }
    #footer .row-frontman span.brighter {
        font-size: 15px;
    }
}
@media screen and (max-width:200px) {
    #footer {
        padding-left: 15px;
        padding-right: 15px;
    }
    #footer .thin-small {
        font-size: 14px;
    }
}

/* *********************************************************
FONTS
********************************************************* */
@font-face {
    font-family: FiraSansThin;
    src: url("assets/fonts/FiraSans-Thin.ttf") format('truetype');
}
@font-face {
    font-family: FiraSansThinItalic;
    src: url("assets/fonts/FiraSans-ThinItalic.ttf") format('truetype');
}
@font-face {
    font-family: FiraSansItalic;
    src: url("assets/fonts/FiraSans-Italic.ttf") format('truetype');
}
@font-face {
    font-family: FiraSansMedium;
    src: url("assets/fonts/FiraSans-Medium.ttf") format('truetype');
}
@font-face {
    font-family: FiraSansLight;
    src: url("assets/fonts/FiraSans-Light.ttf") format('truetype');
}
@font-face {
    font-family: FiraSansLightItalic;
    src: url("assets/fonts/FiraSans-LightItalic.ttf") format('truetype');
}
@font-face {
    font-family: FiraSansRegular;
    src: url("assets/fonts/FiraSans-Regular.ttf") format('truetype');
}
@font-face {
    font-family: FiraSansBold;
    src: url("assets/fonts/FiraSans-Bold.ttf") format('truetype');
}
/* - optimized */
@font-face {
    font-family: FiraSansLightWeb;
    src: url("assets/fonts/firasans-light-webfont.ttf") format('truetype');
}
@font-face {
    font-family: FiraSansRegularWeb;
    src: url("assets/fonts/firasans-regular-webfont.ttf") format('truetype');
}
body {
    font-size: 18px;
    font-family: FiraSansLightWeb;
}
h1, h2 {
    font-family: FiraSansLightWeb;
    color: #992143;
    font-size: 30px;
    font-weight: 100;
    line-height: 36px;
}
.sticky.is-stuck {
    z-index: 15;
}
.archive-section.news-section > header {
    padding-bottom: 50px;
}
.single-news,
.archive-section {
    padding-top: 50px;
}

.archive-section.news-section .date,
.single-news .date {
    margin-bottom: 15px;
    display: block;
}

.single-news h1 {
    padding-bottom: 100px;
}

.archive-section article {
    padding: 25px 0;
}
@media screen and (max-width: 640px) {
    .archive-section header h2 {
        line-height: 30px;
    }
}
@media screen and (max-width: 320px) {
    p {
        font-size: 1em;
        text-align: justify;
    }
}
#mobile-menu {
    background: white;
    position: fixed;
    top: 0;
    height: 75px;
    z-index: 1;
    width: 100%;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.4);
}
.admin-bar #mobile-menu {
    top: 46px;
}
.admin-bar .title-bar.navicon-cont {
    margin-top: 66px;
}
.admin-bar #offCanvasPrimary {
    top: 46px;
}
.admin-bar #offCanvasPrimary .title-bar.navicon-cont {
    margin-top: 20px;
}
#wpadminbar {
    position: fixed !important;
}
@media screen and (max-width: 600px) {
    .admin-bar #offCanvasPrimary:not(.is-closed) + .js-off-canvas-overlay + #wrapper #mobile-menu {
        display: none;
    }
    .admin-bar #offCanvasPrimary:not(.is-closed) + .js-off-canvas-overlay + #wrapper #mobile-menu .title-bar.navicon-cont {
        display: none;
    }
}
#mobile-menu .site-logo-mobile {
    width: 250px;
    height: 75px;
    margin-left: 25px;
    background: url(./assets/img/logo_siwy.png) no-repeat left center;
    background-size: 250px;
    margin-top: 0;
    background-position: 0 calc(50% + 3px);
}
@media screen and (max-width: 360px) {
    #mobile-menu .site-logo-mobile {
        width: 200px;
        background-size: 200px;
    }
}
@media screen and (max-width: 300px) {
    #mobile-menu .site-logo-mobile {
        width: 170px;
        background-size: 170px;
    }
}
@media screen and (max-width: 265px) {
    #mobile-menu .site-logo-mobile {
        width: 35px;
        background: url(./assets/img/logo_siwy_initials.png) no-repeat left center;
        background-size: 35px;
    }
}
/*
#mobile-menu-help {
    height: 75px;
}*/
@media only screen and (max-width: 639px) {
    /*body.admin-bar #wrapper #mobile-menu {
        top: 46px;
    }
    body.admin-bar #wrapper.is-open-right #mobile-menu {
        top: 0;
    }
    body.admin-bar .off-canvas.position-right {
        top: 46px;
    }*/
    
    /*body.admin-bar .title-bar {
        top: 46px;
    }
    body.admin-bar .oc-menu {
        top: 46px;
    }*/
}

body.admin-bar {
    margin-top: -5px;
}